<link rel="stylesheet" href="/css/add.css">
<form action="/cars/add" method="POST">
  <div class="model">
    <label for="model" class="form-label">Mẫu xe</label>
    <select name="model" id="model" class="form-control" required>
      <option value="">Chọn mẫu xe</option>
      <option value="Mazda 3">Mazda 3</option>
      <option value="Mazda CX-8">Mazda CX-8</option>
      <option value="Mazda CX-9">Mazda CX-9</option>
      <option value="Honda Civic">Honda Civic</option>
    </select>
  </div>

  <div class="rental-address">
    <label for="rental_address" class="form-label">Địa chỉ cho thuê</label>
    <input type="text" name="rental_address" id="rental_address" class="form-control" required />
  </div>

  <div class="brand">
    <label for="car_brand_id" class="form-label">Thương hiệu xe</label>
    <select name="car_brand_id" id="car_brand_id" class="form-control" required>
      <option value="">Chọn thương hiệu xe</option>
      <% carBrands.forEach(brand => { %>
        <option value="<%= brand.id %>"><%= brand.name %></option>
      <% }) %>
    </select>
  </div>

  <div class="seats">
    <label for="seats_id" class="form-label">Số ghế</label>
    <select name="seats_id" id="seats_id" class="form-control" required>
      <option value="">Chọn số ghế</option>
      <% seats.forEach(seat => { %>
        <option value="<%= seat.id %>"><%= seat.seats %></option>
      <% }) %>
    </select>
  </div>

  <div class="price-per-hour">
    <label for="price_per_hour" class="form-label">Giá theo giờ</label>
    <input type="number" name="price_per_hour" id="price_per_hour" class="form-control" required />
  </div>

  <div class="price-per-day">
    <label for="price_per_day" class="form-label">Giá theo ngày</label>
    <input type="number" name="price_per_day" id="price_per_day" class="form-control" required />
  </div>

  <a href="/quanlixe"><button  type="submit" class="btn btn-primary">Thêm xe</button></a>
</form>
